# gotty service for REPL

[Unit]
Description=gotty REPL
StartLimitIntervalSec=0
StartLimitBurst=1


[Service]
Type=simple
User=gottyuser
Environment="TERM=xterm"
Environment="GODEBUG=cgocheck=1"
ExecStart=/usr/local/bin/gotty -w
ExecStop=/usr/bin/pkill gotty
LimitNOFILE=2000
Restart=always
RestartPreventExitStatus=126
# Wait for 1 second before going for next start on failure case
RestartSec=1

[Install]
WantedBy=multi-user.target