.terminal {
    font-family: "DejaVu Sans Mono", "Everson Mono", FreeMono, Menlo, Terminal, monospace, "Apple Symbols";
}

.terminal .xterm {
    width:100%;
    position: inherit;
    margin: initial;
    margin-top: auto;
    height: inherit;
    z-index: 1;
    background-color: var(--terminal-bg-color);
    overflow-y: scroll;
}

.xterm-overlay {
    font-family: "DejaVu Sans Mono", "Everson Mono", FreeMono, Menlo, Terminal, monospace, "Apple Symbols";
    border-radius: 15px;
    font-size: xx-large;
    color: black;
    background: white;
    opacity: 0.75;
    padding: 0.2em 0.5em 0.2em 0.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    transition: opacity 180ms ease-in;
}