name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: |
        docker build . --file Dockerfile --tag openrepl:latest
        docker history openrepl:latest
        docker inspect openrepl:latest
    - name: docker-image-size-limit
      uses: wemake-services/docker-image-size-limit@master
      with:  # lint this image by itself
        image: 'openrepl:latest'
        size: 3584MB
